<!DOCTYPE html>
<html>
<head>
  <title><%= fragment("logo title") %> - <%= fragment("logo subtitle") %></title>
  <%= csrf_meta_tags %>
    
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
  <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
  
  <meta name="flickrapi" content="<%= ENV['JAPFLICKRAPIKEY'] %>">
    
</head>
<body id="page-top" class="index">

  <%= yield %>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/classie.js"></script>
  <script src="js/cbpAnimatedHeader.js"></script>

  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="js/justaddpeople.js"></script>
  
</body>
</html>
